/*
body
*/
body {
  margin: 0px;
  height: 1500px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: white;
  
}
html { background-color: #211200;}


/*
header 
*/
header {
  position: fixed;
  background-color: #211200 ;
  min-height: 100px;
  width: 100%;
}
.logo {
  position: fixed;
  left: 10px;
  max-height: 100px;
  max-width: 150px;
}

.box-nav {
  height: auto;
  width: 100%;
  
}
.menu {
  list-style: none;
  display: flex;
  justify-content: end;
 }
.menu > li {
  margin: 2%;
  padding: 1%;
}
.s-menu > a {
  text-decoration: none;
  color: #ffffff;

}
.menu > li:hover { 
  border-radius: 10px;
  background-color: #ff0000;
}
/*
Finish header
*/