/*
body
*/
body {
  margin: 0px;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: #ffffff;
  
}
html { background-color: #211200;}

/*
Main, pictures and desciption + css Grid
*/
.main_picture {
  height: 100%;
  width: 100%;
}
.main {
  min-height: 100%;
  min-width: 100%;
}
h1 {
  background-color: #ff0000;
  border-radius: 20px;
  font-style: oblique;
  font-size: 4rem;
  text-align: center;
  margin: 3%;
  padding: 3%;
  
}
/*
start Css grid
*/
.wrapper {
  display: grid;
  width: 100%;
  height: 80%;
  grid-template-columns: repeat(3, auto);
  grid-template-rows: repeat(3, auto);
  
}
.picture_des { 
  width: 100%;
  height: 100%;
}

h2{
  font-weight: bold; 
  color: #000000;
}
.des_center {
  margin-top: 15%;
  text-align: center;
}

.picture_tartars{grid-column: 1; grid-row:1;}
.tartars_description{grid-column: 1; grid-row:2; background-color: gray;}
.meats_description{grid-column: 2; grid-row:1; background-color: gray;}
.picture_meats{grid-column: 2; grid-row:2;}
.picture_fish{grid-column: 3; grid-row:1;}
.description_fish{grid-column: 3; grid-row:2; background-color: gray;}
/*
End Css grid
*/

/*
Reservation and order
*/
.order {
  min-width: 100%;
  text-align: center;
  background-color: #ff0000;
}

 h3 {font-size: 2rem;}
 h4 {font-size: large;}
 
 .list_order {
  display: block;
  min-height: auto;
  min-width: auto;
  list-style: none;

}
.l_order {
  display: inline-block;
  background-color: #ffffff;
  border-radius: 30px;
  border: 1px solid #ffffff;
  width: 50%;
  margin: 1%;
  padding: 1%;
}
.l_order > a {
  font-size: large;
  color: #211200;
  text-decoration: none;
}
.l_order:hover {
  background-color: #808080;
}
/*
finish reservation and the order
*/

